<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">

    </div>
    <div class="navbar-inner">

      <a class="navbar-brand pt-0" href="/">
          <img src="/media/logo.png" class="navbar-brand-img" alt="...">
      </a>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text"> Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
             {% if request.user.user_profile.role_type == "HOS" %}
                <a class="nav-link" href="{% url 'add_sale' %}">
                  <i class="fas fa-plus text-blue"></i>
                  <span class="nav-link-text"> Add Sale</span>
                </a>
             {% endif %}
          </li>
          <li class="nav-item">
             {% if request.user.user_profile.role_type == "HOS" %}
                <a class="nav-link" href="{% url 'add_budget' %}">
                  <i class="fas fa-solid fa-dollar-sign"></i>
                  <span class="nav-link-text"> Add Budget</span>
                </a>
             {% endif %}
          </li>
          <li class="nav-item">
           {% if request.user.user_profile.role_type == "HOS" or request.user.user_profile.role_type == "CEO" %}
              <a class="nav-link" href="{% url 'user' %}">
                <i class="ni ni-circle-08 text-pink"></i>
                <span class="nav-link-text"> Users</span>
              </a>
           {% endif %}
          </li>
          <li class="nav-item">
            {% if request.user.user_profile.role_type == "HOS" or request.user.user_profile.role_type == "CEO" %}
              <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'sales_category' %}">
                <i class="ni ni-bullet-list-67 text-default"></i>
                <span class="nav-link-text"> Sale Category</span>
              </a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if request.user.user_profile.role_type == "HOS" or request.user.user_profile.role_type == "CEO" %}
              <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'search' %}">
                <i class="fas fa-search text-default"></i>
                <span class="nav-link-text"> Search</span>
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

