{% extends 'layout/base.html' %}

{% block content %}
    {% if request.user.user_profile.role_type == "HOS" %}
        <div class="container">
            <div class="text-center text-dark">
                <h1>Salesperson List</h1>
            </div>
            <a href="{% url 'create_user' %}" class="btn btn-primary btn-top-right"><i class="fa fa-plus" aria-hidden="true"></i> Add User</a>
        </div>
    {% endif %}
    <table class="table table-hover">
    <thead>
    <tr>
        <th>SL.</th>
        <th>Username</th>
        <th>PIN</th>
        <th>Full name</th>
        <th>Role</th>
        <th>Sales Category</th>
        <th>Job Title</th>
        {% if request.user.user_profile.role_type == "HOS" %}
            <th>update</th>
        {% endif %}
        <th>View</th>
    </tr>
    </thead>
    <tbody>
        {% for user in users %}
    <tr>
    <td>{{ forloop.counter }}</td>

    <td>{{ user }} </td>
    <td>{{ user.pin }}</td>
    <td>{{ user.full_name }}</td>
    <td>{{ user.role_type }}</td>
    <td>{{ user.sales_category }}</td>
    <td>{{ user.job_title }}</td>
    {% if request.user.user_profile.role_type == "HOS" %}
        <td><a href="{% url 'update_user_info' user_id=user.id%}"><i class="fa fa-edit"></i>   Update</a> </td>
    {% endif %}
    <td><a href="{% url 'view_user' user_id=user.id%}" ><i class="fa fa-eye" aria-hidden="true"></i> view</a></td>

    </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock content %}