{% extends 'layout/base.html' %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
	<div class="card h-100">
	<div class="card-body">
		<div class="account-settings text-center">
			<div class="user-profile">
				<div class="user-avatar">
					{% if not user_profile.profile_picture %}
						<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="{{ user_profile.user.username }}" class="rounded-circle img-thumbnail" style="max-width: 190px;">
					{% else %}
						<img src="{{ user_profile.profile_picture.url }}" alt="Maxwell Admin" class="rounded-circle img-thumbnail">
					{% endif %}
				</div>
			</div>
			<div class="user-information-2 p-4" style="margin-top: 50px; padding-top: 20px">
				<h3 class="user-name" style="font-size: 24px;">{{ user_profile.user.username }}</h3>
				<h4 class="user-fullname" style="font-size: 24; color: grey;">{{ user_profile.full_name }}</h4>
				<h5 class="user-email" style="font-size: 14px; color: grey;">Email: {{ user_profile.user.email }}</h5>
			</div>
		</div>
	</div>
</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="tab-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<h4 class="mb-2 text-primary">Personal Details</h4>
				</div>
				<div class="col-md-4 col-sm-4">
					<h4 class="user-job mb-2"><strong>Job Title:</strong></h4>
				</div>
				<div class="col-md-4 col-sm-4" style="padding-bottom: 20px;">
					<h4 class="user-job1 mb-2">{{ user_profile.job_title }}</h4>
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				<div class="col-md-4 col-sm-4">
					<h4 class="user-job mb-2" style="padding-bottom: 20px;"><strong>Role:</strong></h4>
				</div>
				<div class="col-md-4 col-sm-4" >
					<h4 class="user-job1 mb-2" style="padding-bottom: 20px;">{{ user_profile.role_type }}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h4 class="user-job mb-4" style="padding-bottom: 20px;"><strong>Head of Sales:</strong></h4>
				</div>
				<div class="col-md-4 col-sm-4" >
					<h4 class="user-job1 mb-2" style="padding-bottom: 20px;">{{ user_profile.head_of_sales }}</h4>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
{% endblock %}