{% extends 'layout/base.html' %}

{% block content %}
<center xmlns="http://www.w3.org/1999/html">
    <div class="col-xl-8">
        <div class="create_up">
            <h3> Add Sale </h3>
            <hr>
            <form method="post" class="form">
                {% csrf_token %}
                <div id="div_id username" class="form-group">
                    <div class="">
                        <input type="text" placeholder="Username" id="username" class="textinput textInput select form-control" name="username" required>
                    </div>
                </div>
                <div id="div_id_cs" class="form-group">
                    <div class="">
                         <label for="product">Select Products:</label>
                          <select id="product" name="product" multiple class="form-control">
                            {% for product in products %}
                              <option value="{{ product.id }}">{{ product.p_name }}</option>
                            {% endfor %}
                          </select>
                    </div>
                </div>
                <div id="div_id item" class="form-group">
                    <div class="">
                        <input type="text" placeholder="Sale Value" id="sale_value" class="textinput textInput select form-control" name="sale_value" required>
                    </div>
                </div>
                <div id="div_id remark" class="form-group">
                    <div class="">
                        <textarea id="remarks" placeholder="Remarks" name="remarks" class="textinput textInput select form-control" rows="3" required></textarea>
                    </div>
                </div>
                <div class="footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</center>
{% endblock content %}