{% extends 'layout/base.html' %}

{% block stylesheets %}
    <!-- Include Bootstrap CSS if not already included -->
{% endblock stylesheets %}

{% block content %}
    {% if request.user.user_profile.role_type == "HOS" %}
        <div class="container">
            <div class="text-center text-dark">
                <h1>Sales Category</h1>
            </div>
            <div class="text-right">
                <a href="#" class="btn btn-primary btn-top-right" data-toggle="modal" data-target="#addCategoryModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    {% endif %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>SL.</th>
            <th>Type</th>
            <th>Number of products</th>
            <th>view</th>
            <th>View Salesperson</th>

        </thead>
        <tbody>
            {% for category in sales_category %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.type }}</td>
                <td>{{ category.product_count }}</td>
                <td><a href="{% url 'view_category' category_id=category.id %}"><i class="fa fa-eye" aria-hidden="true"></i> view</a></td>
                <td><a href="{% url 'view_user_category' category_id=category.id %}"><i class="fa fa-eye" aria-hidden="true"></i> salesperson</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal for adding a category -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Add your form content here -->
                <!-- Example: -->
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your category form content goes here -->
                    <!-- Example: -->
                    <form method="post" class="form">
                        {% csrf_token %}
                         <div id="div_id type" class="form-group">
                            <div class="">
                                <input type="text" placeholder="Type" id="type" class="textinput textInput select form-control" name="type" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal -->
{% endblock content %}
